
:root {
    --title-color: #322153;
    --primary-color:#44d67c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: #c4b1da;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}

/* BOX MODEL

Modelo de caixa
Toda caixa tem
Largura, espaçamento, altura, preenchimento
bordas, cor, fundo
Maneira que é vista pelo HTLM display
*/
